In [1]:
import os
import json
import pandas as pd
from sqlalchemy import create_engine

In [2]:
def load_matches_from_folder(folder_path):
    match_list = []
    for file_name in os.listdir(folder_path):
        if file_name.endswith("json"):
            file_path = os.path.join(folder_path, file_name)
            with open(file_path) as f:
                data = json.load(f)
                match_list.append((file_name, data))
    return match_list

In [3]:
def extract_match_info(format_name,file_name, match):
    info = match.get("info", {})
    date = info.get("dates", [None])
    match_data = {}
    match_data["MATCH_ID"] = f'{format_name.upper()}{os.path.basename(file_name).replace(".json", "")}'
    if len(date) == 1:
        match_data["START_DATE"] = date[0]
        match_data["END_DATE"] = None
    if len(date) > 1:
        match_data["START_DATE"] = date[0]
        match_data["END_DATE"] = date[-1]
    match_data["SEASON"] = info.get("season", None)
    match_data["MATCH_NUMBER"] = info.get("event", {}).get("match_number", None)
    match_data["MATCH_STAGE"] = info.get("event", {}).get("stage", None)
    match_data["MATCH_NAME"] = info.get("event", {}).get("name", None)
    match_data["TEAMS"] = f'{info.get("teams",[None])[0]} vs {info.get("teams", [None])[1]}'
    match_data["MATCH_WINNER"] = info.get("outcome", {}).get("winner", None)
    match_data["WIN_BY_WICKETS"] = info.get("outcome", {}).get("by", {}).get("wickets", None)
    match_data["WIN_BY_RUNS"] = info.get("outcome", {}).get("by", {}).get("runs", None)
    if format_name == "test":
        match_data["WIN_BY_INNINGS"] = info.get("outcome", {}).get("by", {}).get("innings", None)
    if format_name in ["ipl","odi","t20"]:
        match_data["ELIMINATOR"] = info.get("outcome", {}).get("eliminator", None)
    match_data["RESULT"] = info.get("outcome", {}).get("result", None)
    match_data["PLAYER_OF_MATCH"] = info.get("player_of_match", [None])[0]
    match_data["VENUE"] = info.get("venue", None)
    match_data["CITY"] = info.get("city", None)
    match_data["TOSS_WIN"] = info.get("toss", {}).get("winner", None)
    match_data["TOSS_DECISION"] = info.get("toss", {}).get("decision", None)
    return match_data

In [4]:
def extract_deliveries_data(format_name,file_name, match):
    inning = match.get("innings")
    all_deliveries = []
    for inning_index, inning_data  in enumerate(inning):   #inning_data = data.get("innings")[inning_index]
        overs = inning_data.get("overs", [None])
        for over_data in overs:
            match_id = f'{format_name.upper()}{os.path.basename(file_name).replace(".json", "")}'
            inning = inning_index+1
            team = inning_data.get("team", None)
            over = over_data.get("over", None)
            ball = over_data.get("deliveries", [None])
            for ball_index,ball_data in enumerate(ball):
                extras_dict = ball_data.get("extras", {})
                runs_dict = ball_data.get("runs", {})
                wicket_dict = ball_data.get("wickets", [None])
                delivery = {}
                delivery["MATCH_ID"] = match_id
                delivery["INNING"] = inning
                delivery["TEAM"] = team
                delivery["OVER_NUMBER"] = over
                delivery["BALL_NUMBER"] = float(f'{over}.{ball_index+1}')
                delivery["BATTER"] = ball_data.get("batter", None)
                delivery["BOWLLING_TEAM"] = match.get("innings")[inning_index-1].get("team", None)
                delivery["BOWLER"] = ball_data.get("bowler", None)
                delivery["NON_STRIKER"] = ball_data.get("non_striker", None)
                delivery["EXTRAS"] = ", ".join(extras_dict.keys()) if extras_dict else None
                delivery["BATTER_RUNS"] = runs_dict.get("batter")
                delivery["RUNS"] = runs_dict.get("total")
                if wicket_dict[0] is None:
                    delivery["WICKET"] = None
                    delivery["PLAYER_OUT"] = None
                    delivery["FIELDER_1"] = None
                    delivery["FIELDER_2"] = None
                    delivery["FIELDER_3"] = None
                    if format_name == "odi":
                        delivery["FIELDER_4"] = None 
                else:
                    delivery["WICKET"] = wicket_dict[0].get("kind")
                    delivery["PLAYER_OUT"] = wicket_dict[0].get("player_out")
                    fielder = wicket_dict[0].get("fielders", [])
                    if fielder is None:
                        delivery["FIELDER_1"] = None
                        delivery["FIELDER_2"] = None
                        delivery["FIELDER_3"] = None
                        if format_name == "odi":
                            delivery["FIELDER_4"] = None
                    else:
                        delivery["FIELDER_1"] = fielder[0].get("name") if len(fielder) > 0 else None
                        delivery["FIELDER_2"] = fielder[1].get("name") if len(fielder) > 1 else None
                        delivery["FIELDER_3"] = fielder[2].get("name") if len(fielder) > 2 else None
                        if format_name == "odi":
                            delivery["FIELDER_4"] = fielder[3].get("name") if len(fielder) > 3 else None     
                all_deliveries.append(delivery)
    return all_deliveries

In [5]:
def extract_players(format_name,file_name, match):
    team = match.get("info").get("players")
    all_players = []
    for team_name in team:
         for player in team.get(team_name):
              players = {}
              players["MATCH_ID"] = f'{format_name.upper()}{os.path.basename(file_name).replace(".json", "")}'
              players["TEAM"] = team_name
              players["PLAYER"] = player
              all_players.append(players)
    return all_players

In [6]:
base_path = r"N:\GUVI\Cricsheet_Match_Data_Analysis\data"    #cricsheet data folder path

formats = {
           "ipl" : os.path.join(base_path, "ipl"),
           "odi": os.path.join(base_path, "odis"),
           "t20": os.path.join(base_path, "t20s"),
           "test": os.path.join(base_path, "tests")           
          }

match_info = {}
deliveries = {}
players = {}
for format_name, folder in formats.items():
    
    matches = load_matches_from_folder(folder)
    extracted_match_info = [extract_match_info(format_name, file_name, match) for file_name, match in matches]
    df1 = pd.DataFrame(extracted_match_info)
    match_info[format_name] = df1
    print(f"{len(df1)} {format_name.upper()} Matches Loaded")

    extracted_deliveries = []
    for file_name, match in matches:
        extracted_deliveries.extend(extract_deliveries_data(format_name, file_name, match))
    df2 = pd.DataFrame(extracted_deliveries)
    deliveries[format_name] = df2
    print(f"{len(df2)} Delivery Data Loaded in {format_name.upper()}")

    extracted_players = []
    for file_name, match in matches:
        extracted_players.extend(extract_players(format_name, file_name, match))
    df3 = pd.DataFrame(extracted_players)
    players[format_name] = df3
    print(f"{len(df3)} Players Data Loaded in {format_name.upper()}")

1169 IPL Matches Loaded
278205 Delivery Data Loaded in IPL
26137 Players Data Loaded in IPL
2986 ODI Matches Loaded
1581372 Delivery Data Loaded in ODI
65808 Players Data Loaded in ODI
4468 T20 Matches Loaded
1010350 Delivery Data Loaded in T20
98311 Players Data Loaded in T20
875 TEST Matches Loaded
1693534 Delivery Data Loaded in TEST
19272 Players Data Loaded in TEST

In [7]:
match_info["ipl"]

,MATCH_ID,START_DATE,END_DATE,SEASON,MATCH_NUMBER,MATCH_STAGE,MATCH_NAME,TEAMS,MATCH_WINNER,WIN_BY_WICKETS,WIN_BY_RUNS,ELIMINATOR,RESULT,PLAYER_OF_MATCH,VENUE,CITY,TOSS_WIN,TOSS_DECISION
0,IPL1082591,2017-04-05,None,2017,1.0,None,Indian Premier League,Sunrisers Hyderabad vs Royal Challengers Banga...,Sunrisers Hyderabad,NaN,35.0,None,None,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",Hyderabad,Royal Challengers Bangalore,field
1,IPL1082592,2017-04-06,None,2017,2.0,None,Indian Premier League,Rising Pune Supergiant vs Mumbai Indians,Rising Pune Supergiant,7.0,NaN,None,None,SPD Smith,Maharashtra Cricket Association Stadium,Pune,Rising Pune Supergiant,field
2,IPL1082593,2017-04-07,None,2017,3.0,None,Indian Premier League,Gujarat Lions vs Kolkata Knight Riders,Kolkata Knight Riders,10.0,NaN,None,None,CA Lynn,Saurashtra Cricket Association Stadium,Rajkot,Kolkata Knight Riders,field
3,IPL1082594,2017-04-08,None,2017,4.0,None,Indian Premier League,Kings XI Punjab vs Rising Pune Supergiant,Kings XI Punjab,6.0,NaN,None,None,GJ Maxwell,Holkar Cricket Stadium,Indore,Kings XI Punjab,field
4,IPL1082595,2017-04-08,None,2017,5.0,None,Indian Premier League,Royal Challengers Bangalore vs Delhi Daredevils,Royal Challengers Bangalore,NaN,15.0,None,None,KM Jadhav,M.Chinnaswamy Stadium,Bengaluru,Royal Challengers Bangalore,bat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1164,IPL981011,2016-05-22,None,2016,56.0,None,Indian Premier League,Delhi Daredevils vs Royal Challengers Bangalore,Royal Challengers Bangalore,6.0,NaN,None,None,V Kohli,Shaheed Veer Narayan Singh International Stadium,Raipur,Royal Challengers Bangalore,field
1165,IPL981013,2016-05-24,None,2016,NaN,Qualifier 1,Indian Premier League,Gujarat Lions vs Royal Challengers Bangalore,Royal Challengers Bangalore,4.0,NaN,None,None,AB de Villiers,M Chinnaswamy Stadium,Bangalore,Royal Challengers Bangalore,field
1166,IPL981015,2016-05-25,None,2016,NaN,Elimination Final,Indian Premier League,Sunrisers Hyderabad vs Kolkata Knight Riders,Sunrisers Hyderabad,NaN,22.0,None,None,MC Henriques,Feroz Shah Kotla,Delhi,Kolkata Knight Riders,field
1167,IPL981017,2016-05-27,None,2016,NaN,Qualifier 2,Indian Premier League,Gujarat Lions vs Sunrisers Hyderabad,Sunrisers Hyderabad,4.0,NaN,None,None,DA Warner,Feroz Shah Kotla,Delhi,Sunrisers Hyderabad,field
1168,IPL981019,2016-05-29,None,2016,NaN,Final,Indian Premier League,Royal Challengers Bangalore vs Sunrisers Hyder...,Sunrisers Hyderabad,NaN,8.0,None,None,BCJ Cutting,M Chinnaswamy Stadium,Bangalore,Sunrisers Hyderabad,bat

In [8]:
deliveries["ipl"]

,MATCH_ID,INNING,TEAM,OVER_NUMBER,BALL_NUMBER,BATTER,BOWLLING_TEAM,BOWLER,NON_STRIKER,EXTRAS,BATTER_RUNS,RUNS,WICKET,PLAYER_OUT,FIELDER_1,FIELDER_2,FIELDER_3
0,IPL1082591,1,Sunrisers Hyderabad,0,0.1,DA Warner,Royal Challengers Bangalore,TS Mills,S Dhawan,None,0,0,None,None,None,None,None
1,IPL1082591,1,Sunrisers Hyderabad,0,0.2,DA Warner,Royal Challengers Bangalore,TS Mills,S Dhawan,None,0,0,None,None,None,None,None
2,IPL1082591,1,Sunrisers Hyderabad,0,0.3,DA Warner,Royal Challengers Bangalore,TS Mills,S Dhawan,None,4,4,None,None,None,None,None
3,IPL1082591,1,Sunrisers Hyderabad,0,0.4,DA Warner,Royal Challengers Bangalore,TS Mills,S Dhawan,None,0,0,None,None,None,None,None
4,IPL1082591,1,Sunrisers Hyderabad,0,0.5,DA Warner,Royal Challengers Bangalore,TS Mills,S Dhawan,wides,0,2,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278200,IPL981019,2,Royal Challengers Bangalore,19,19.2,Sachin Baby,Sunrisers Hyderabad,B Kumar,CJ Jordan,None,2,2,None,None,None,None,None
278201,IPL981019,2,Royal Challengers Bangalore,19,19.3,Sachin Baby,Sunrisers Hyderabad,B Kumar,CJ Jordan,None,0,0,run out,CJ Jordan,NV Ojha,None,None
278202,IPL981019,2,Royal Challengers Bangalore,19,19.4,Iqbal Abdulla,Sunrisers Hyderabad,B Kumar,Sachin Baby,legbyes,0,1,None,None,None,None,None
278203,IPL981019,2,Royal Challengers Bangalore,19,19.5,Sachin Baby,Sunrisers Hyderabad,B Kumar,Iqbal Abdulla,None,1,1,None,None,None,None,None
278204,IPL981019,2,Royal Challengers Bangalore,19,19.6,Iqbal Abdulla,Sunrisers Hyderabad,B Kumar,Sachin Baby,None,4,4,None,None,None,None,None

In [9]:
players["ipl"]

         MATCH_ID                         TEAM             PLAYER
0      IPL1082591  Royal Challengers Bangalore           CH Gayle
1      IPL1082591  Royal Challengers Bangalore      Mandeep Singh
2      IPL1082591  Royal Challengers Bangalore            TM Head
3      IPL1082591  Royal Challengers Bangalore          KM Jadhav
4      IPL1082591  Royal Challengers Bangalore          SR Watson
...           ...                          ...                ...
26132   IPL981019          Sunrisers Hyderabad            NV Ojha
26133   IPL981019          Sunrisers Hyderabad       Bipul Sharma
26134   IPL981019          Sunrisers Hyderabad            B Kumar
26135   IPL981019          Sunrisers Hyderabad            BB Sran
26136   IPL981019          Sunrisers Hyderabad  Mustafizur Rahman

[26137 rows x 3 columns]

In [10]:
match_info["odi"]

,MATCH_ID,START_DATE,END_DATE,SEASON,MATCH_NUMBER,MATCH_STAGE,MATCH_NAME,TEAMS,MATCH_WINNER,WIN_BY_WICKETS,WIN_BY_RUNS,ELIMINATOR,RESULT,PLAYER_OF_MATCH,VENUE,CITY,TOSS_WIN,TOSS_DECISION
0,ODI1000887,2017-01-13,None,2016/17,1.0,None,Pakistan in Australia ODI Series,Australia vs Pakistan,Australia,NaN,92.0,None,None,MS Wade,"Brisbane Cricket Ground, Woolloongabba",Brisbane,Australia,bat
1,ODI1000889,2017-01-15,None,2016/17,2.0,None,Pakistan in Australia ODI Series,Australia vs Pakistan,Pakistan,6.0,NaN,None,None,Mohammad Hafeez,Melbourne Cricket Ground,None,Australia,bat
2,ODI1000891,2017-01-19,None,2016/17,3.0,None,Pakistan in Australia ODI Series,Australia vs Pakistan,Australia,7.0,NaN,None,None,SPD Smith,Western Australia Cricket Association Ground,Perth,Australia,field
3,ODI1000893,2017-01-22,None,2016/17,4.0,None,Pakistan in Australia ODI Series,Australia vs Pakistan,Australia,NaN,86.0,None,None,DA Warner,Sydney Cricket Ground,None,Australia,bat
4,ODI1000895,2017-01-26,None,2016/17,5.0,None,Pakistan in Australia ODI Series,Australia vs Pakistan,Australia,NaN,57.0,None,None,DA Warner,Adelaide Oval,None,Australia,bat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2981,ODI995461,2016-08-28,None,2016,3.0,None,Australia in Sri Lanka ODI Series,Sri Lanka vs Australia,Australia,2.0,NaN,None,None,GJ Bailey,Rangiri Dambulla International Stadium,None,Sri Lanka,bat
2982,ODI995463,2016-08-31,None,2016,4.0,None,Australia in Sri Lanka ODI Series,Sri Lanka vs Australia,Australia,6.0,NaN,None,None,JW Hastings,Rangiri Dambulla International Stadium,None,Sri Lanka,bat
2983,ODI995465,2016-09-04,None,2016,5.0,None,Australia in Sri Lanka ODI Series,Sri Lanka vs Australia,Australia,5.0,NaN,None,None,DA Warner,Pallekele International Cricket Stadium,None,Sri Lanka,bat
2984,ODI997993,2016-08-14,None,2016,26.0,None,ICC World Cricket League Championship,Scotland vs United Arab Emirates,Scotland,NaN,98.0,None,None,None,"Grange Cricket Club Ground, Raeburn Place",Edinburgh,United Arab Emirates,field
2985,ODI997995,2016-08-16,None,2016,28.0,None,ICC World Cricket League Championship,Scotland vs United Arab Emirates,Scotland,7.0,NaN,None,None,None,"Grange Cricket Club Ground, Raeburn Place",Edinburgh,United Arab Emirates,bat

In [11]:
deliveries["odi"]

,MATCH_ID,INNING,TEAM,OVER_NUMBER,BALL_NUMBER,BATTER,BOWLLING_TEAM,BOWLER,NON_STRIKER,EXTRAS,BATTER_RUNS,RUNS,WICKET,PLAYER_OUT,FIELDER_1,FIELDER_2,FIELDER_3,FIELDER_4
0,ODI1000887,1,Australia,0,0.1,DA Warner,Pakistan,Mohammad Amir,TM Head,None,0,0,None,None,None,None,None,None
1,ODI1000887,1,Australia,0,0.2,DA Warner,Pakistan,Mohammad Amir,TM Head,None,0,0,None,None,None,None,None,None
2,ODI1000887,1,Australia,0,0.3,DA Warner,Pakistan,Mohammad Amir,TM Head,None,0,0,None,None,None,None,None,None
3,ODI1000887,1,Australia,0,0.4,DA Warner,Pakistan,Mohammad Amir,TM Head,None,0,0,None,None,None,None,None,None
4,ODI1000887,1,Australia,0,0.5,DA Warner,Pakistan,Mohammad Amir,TM Head,wides,0,1,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1581367,ODI997995,2,Scotland,46,46.6,PL Mommsen,United Arab Emirates,Mohammad Shahzad,RD Berrington,None,0,0,None,None,None,None,None,None
1581368,ODI997995,2,Scotland,47,47.1,RD Berrington,United Arab Emirates,Rohan Mustafa,PL Mommsen,None,0,0,None,None,None,None,None,None
1581369,ODI997995,2,Scotland,47,47.2,RD Berrington,United Arab Emirates,Rohan Mustafa,PL Mommsen,None,0,0,None,None,None,None,None,None
1581370,ODI997995,2,Scotland,47,47.3,RD Berrington,United Arab Emirates,Rohan Mustafa,PL Mommsen,None,0,0,None,None,None,None,None,None
1581371,ODI997995,2,Scotland,47,47.4,RD Berrington,United Arab Emirates,Rohan Mustafa,PL Mommsen,None,4,4,None,None,None,None,None,None

In [12]:
players["odi"]

         MATCH_ID                  TEAM           PLAYER
0      ODI1000887             Australia        DA Warner
1      ODI1000887             Australia          TM Head
2      ODI1000887             Australia        SPD Smith
3      ODI1000887             Australia          CA Lynn
4      ODI1000887             Australia         MR Marsh
...           ...                   ...              ...
65803   ODI997995  United Arab Emirates      Amjad Javed
65804   ODI997995  United Arab Emirates   Saqlain Haider
65805   ODI997995  United Arab Emirates     Fayyaz Ahmed
65806   ODI997995  United Arab Emirates  Mohammad Naveed
65807   ODI997995  United Arab Emirates       Ahmed Raza

[65808 rows x 3 columns]

In [13]:
match_info["t20"]

,MATCH_ID,START_DATE,END_DATE,SEASON,MATCH_NUMBER,MATCH_STAGE,MATCH_NAME,TEAMS,MATCH_WINNER,WIN_BY_WICKETS,WIN_BY_RUNS,ELIMINATOR,RESULT,PLAYER_OF_MATCH,VENUE,CITY,TOSS_WIN,TOSS_DECISION
0,T201001349,2017-02-17,None,2016/17,1.0,None,Sri Lanka in Australia T20I Series,Australia vs Sri Lanka,Sri Lanka,5.0,NaN,None,None,DAS Gunaratne,Melbourne Cricket Ground,None,Sri Lanka,field
1,T201001351,2017-02-19,None,2016/17,2.0,None,Sri Lanka in Australia T20I Series,Australia vs Sri Lanka,Sri Lanka,2.0,NaN,None,None,DAS Gunaratne,"Simonds Stadium, South Geelong",Victoria,Sri Lanka,field
2,T201001353,2017-02-22,None,2016/17,3.0,None,Sri Lanka in Australia T20I Series,Australia vs Sri Lanka,Australia,NaN,41.0,None,None,A Zampa,Adelaide Oval,None,Sri Lanka,field
3,T201004729,2016-09-05,None,2016,1.0,None,Hong Kong in Ireland T20I Series,Ireland vs Hong Kong,Hong Kong,NaN,40.0,None,None,None,"Bready Cricket Club, Magheramason",Londonderry,Hong Kong,bat
4,T201007655,2016-06-18,None,2016,1.0,None,India in Zimbabwe T20I Series,Zimbabwe vs India,Zimbabwe,NaN,2.0,None,None,E Chigumbura,Harare Sports Club,None,India,field
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4463,T20966763,2016-03-04,None,2015/16,10.0,None,Asia Cup,Pakistan vs Sri Lanka,Pakistan,6.0,NaN,None,None,Umar Akmal,Shere Bangla National Stadium,Mirpur,Pakistan,field
4464,T20966765,2016-03-06,None,2015/16,NaN,Final,Asia Cup,Bangladesh vs India,India,8.0,NaN,None,None,S Dhawan,Shere Bangla National Stadium,Mirpur,India,field
4465,T20967081,2016-02-03,None,2015/16,NaN,None,None,United Arab Emirates vs Netherlands,Netherlands,NaN,84.0,None,None,Mudassar Bukhari,ICC Academy,Dubai,United Arab Emirates,field
4466,T20995467,2016-09-06,None,2016,1.0,None,Australia in Sri Lanka T20I Series,Sri Lanka vs Australia,Australia,NaN,85.0,None,None,GJ Maxwell,Pallekele International Cricket Stadium,None,Sri Lanka,field
4467,T20995469,2016-09-09,None,2016,2.0,None,Australia in Sri Lanka T20I Series,Sri Lanka vs Australia,Australia,4.0,NaN,None,None,GJ Maxwell,R Premadasa Stadium,Colombo,Sri Lanka,bat

In [14]:
deliveries["t20"]

,MATCH_ID,INNING,TEAM,OVER_NUMBER,BALL_NUMBER,BATTER,BOWLLING_TEAM,BOWLER,NON_STRIKER,EXTRAS,BATTER_RUNS,RUNS,WICKET,PLAYER_OUT,FIELDER_1,FIELDER_2,FIELDER_3
0,T201001349,1,Australia,0,0.1,AJ Finch,Sri Lanka,SL Malinga,M Klinger,None,0,0,None,None,None,None,None
1,T201001349,1,Australia,0,0.2,AJ Finch,Sri Lanka,SL Malinga,M Klinger,None,0,0,None,None,None,None,None
2,T201001349,1,Australia,0,0.3,AJ Finch,Sri Lanka,SL Malinga,M Klinger,None,1,1,None,None,None,None,None
3,T201001349,1,Australia,0,0.4,M Klinger,Sri Lanka,SL Malinga,AJ Finch,None,2,2,None,None,None,None,None
4,T201001349,1,Australia,0,0.5,M Klinger,Sri Lanka,SL Malinga,AJ Finch,None,0,0,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010345,T20995469,2,Australia,17,17.1,TM Head,Sri Lanka,SS Pathirana,PM Nevill,None,1,1,None,None,None,None,None
1010346,T20995469,2,Australia,17,17.2,PM Nevill,Sri Lanka,SS Pathirana,TM Head,None,3,3,None,None,None,None,None
1010347,T20995469,2,Australia,17,17.3,TM Head,Sri Lanka,SS Pathirana,PM Nevill,None,0,0,None,None,None,None,None
1010348,T20995469,2,Australia,17,17.4,TM Head,Sri Lanka,SS Pathirana,PM Nevill,None,0,0,None,None,None,None,None
1010349,T20995469,2,Australia,17,17.5,TM Head,Sri Lanka,SS Pathirana,PM Nevill,None,6,6,None,None,None,None,None

In [15]:
players["t20"]

         MATCH_ID       TEAM           PLAYER
0      T201001349  Australia         AJ Finch
1      T201001349  Australia        M Klinger
2      T201001349  Australia          TM Head
3      T201001349  Australia     MC Henriques
4      T201001349  Australia        AJ Turner
...           ...        ...              ...
98306   T20995469  Sri Lanka      NLTC Perera
98307   T20995469  Sri Lanka     SS Pathirana
98308   T20995469  Sri Lanka       S Prasanna
98309   T20995469  Sri Lanka  SMSM Senanayake
98310   T20995469  Sri Lanka       RAS Lakmal

[98311 rows x 3 columns]

In [16]:
match_info["test"]

,MATCH_ID,START_DATE,END_DATE,SEASON,MATCH_NUMBER,MATCH_STAGE,MATCH_NAME,TEAMS,MATCH_WINNER,WIN_BY_WICKETS,WIN_BY_RUNS,WIN_BY_INNINGS,RESULT,PLAYER_OF_MATCH,VENUE,CITY,TOSS_WIN,TOSS_DECISION
0,TEST1000851,2016-11-03,2016-11-07,2016/17,1.0,None,South Africa in Australia Test Series,Australia vs South Africa,South Africa,NaN,177.0,NaN,None,K Rabada,Western Australia Cricket Association Ground,Perth,South Africa,bat
1,TEST1000853,2016-11-12,2016-11-15,2016/17,2.0,None,South Africa in Australia Test Series,Australia vs South Africa,South Africa,NaN,80.0,1.0,None,KJ Abbott,Bellerive Oval,Hobart,South Africa,field
2,TEST1000855,2016-11-24,2016-11-27,2016/17,3.0,None,South Africa in Australia Test Series,Australia vs South Africa,Australia,7.0,NaN,NaN,None,UT Khawaja,Adelaide Oval,None,South Africa,bat
3,TEST1000881,2016-12-15,2016-12-19,2016/17,1.0,None,Pakistan in Australia Test Series,Australia vs Pakistan,Australia,NaN,39.0,NaN,None,Asad Shafiq,"Brisbane Cricket Ground, Woolloongabba",Brisbane,Australia,bat
4,TEST1000883,2016-12-26,2016-12-30,2016/17,2.0,None,Pakistan in Australia Test Series,Australia vs Pakistan,Australia,NaN,18.0,1.0,None,SPD Smith,Melbourne Cricket Ground,None,Pakistan,bat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
870,TEST936149,2017-01-02,2017-01-05,2016/17,2.0,None,Sri Lanka in South Africa Test Series,South Africa vs Sri Lanka,South Africa,NaN,282.0,NaN,None,K Rabada,Newlands,Cape Town,Sri Lanka,field
871,TEST936151,2017-01-12,2017-01-14,2016/17,3.0,None,Sri Lanka in South Africa Test Series,South Africa vs Sri Lanka,South Africa,NaN,118.0,1.0,None,JP Duminy,New Wanderers Stadium,Johannesburg,South Africa,bat
872,TEST995451,2016-07-26,2016-07-30,2016,1.0,None,Warne-Muralitharan Trophy,Sri Lanka vs Australia,Sri Lanka,NaN,106.0,NaN,None,BKG Mendis,Pallekele International Cricket Stadium,None,Sri Lanka,bat
873,TEST995453,2016-08-04,2016-08-06,2016,2.0,None,Warne-Muralitharan Trophy,Sri Lanka vs Australia,Sri Lanka,NaN,229.0,NaN,None,MDK Perera,Galle International Stadium,None,Sri Lanka,bat
874,TEST995455,2016-08-13,2016-08-17,2016,3.0,None,Warne-Muralitharan Trophy,Sri Lanka vs Australia,Sri Lanka,NaN,163.0,NaN,None,HMRKB Herath,Sinhalese Sports Club Ground,Colombo,Sri Lanka,bat

In [17]:
deliveries["test"]

,MATCH_ID,INNING,TEAM,OVER_NUMBER,BALL_NUMBER,BATTER,BOWLLING_TEAM,BOWLER,NON_STRIKER,EXTRAS,BATTER_RUNS,RUNS,WICKET,PLAYER_OUT,FIELDER_1,FIELDER_2,FIELDER_3
0,TEST1000851,1,South Africa,0,0.1,SC Cook,Australia,MA Starc,D Elgar,None,0,0,None,None,None,None,None
1,TEST1000851,1,South Africa,0,0.2,SC Cook,Australia,MA Starc,D Elgar,None,0,0,None,None,None,None,None
2,TEST1000851,1,South Africa,0,0.3,SC Cook,Australia,MA Starc,D Elgar,None,0,0,None,None,None,None,None
3,TEST1000851,1,South Africa,0,0.4,SC Cook,Australia,MA Starc,D Elgar,None,0,0,caught,SC Cook,MR Marsh,None,None
4,TEST1000851,1,South Africa,0,0.5,HM Amla,Australia,MA Starc,D Elgar,None,0,0,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1693529,TEST995455,4,Australia,43,43.3,JM Holland,Sri Lanka,MDK Perera,NM Lyon,None,0,0,None,None,None,None,None
1693530,TEST995455,4,Australia,43,43.4,JM Holland,Sri Lanka,MDK Perera,NM Lyon,None,0,0,None,None,None,None,None
1693531,TEST995455,4,Australia,43,43.5,JM Holland,Sri Lanka,MDK Perera,NM Lyon,None,0,0,None,None,None,None,None
1693532,TEST995455,4,Australia,43,43.6,JM Holland,Sri Lanka,MDK Perera,NM Lyon,None,0,0,None,None,None,None,None
1693533,TEST995455,4,Australia,44,44.1,NM Lyon,Sri Lanka,HMRKB Herath,JM Holland,None,0,0,lbw,NM Lyon,None,None,None

In [18]:
players["test"]

          MATCH_ID       TEAM          PLAYER
0      TEST1000851  Australia       DA Warner
1      TEST1000851  Australia        SE Marsh
2      TEST1000851  Australia      UT Khawaja
3      TEST1000851  Australia       SPD Smith
4      TEST1000851  Australia        AC Voges
...            ...        ...             ...
19267   TEST995455  Sri Lanka     DM de Silva
19268   TEST995455  Sri Lanka      MDK Perera
19269   TEST995455  Sri Lanka    HMRKB Herath
19270   TEST995455  Sri Lanka      RAS Lakmal
19271   TEST995455  Sri Lanka  PADLR Sandakan

[19272 rows x 3 columns]

In [19]:
engine = create_engine("mysql+pymysql://root:12345@localhost/cricsheet")

In [ ]:
match_info["ipl"].to_sql(name = "ipl_matches", con = engine, if_exists = "replace", index = False)
match_info["odi"].to_sql(name = "odi_matches", con = engine, if_exists = "replace", index = False)
match_info["t20"].to_sql(name = "t20_matches", con = engine, if_exists = "replace", index = False)
match_info["test"].to_sql(name = "test_matches", con = engine, if_exists = "replace", index = False)

875

In [ ]:
deliveries["ipl"].to_sql(name = "ipl_deliveries", con = engine, if_exists = "replace", index = False)
deliveries["odi"].to_sql(name = "odi_deliveries", con = engine, if_exists = "replace", index = False)
deliveries["t20"].to_sql(name = "t20_deliveries", con = engine, if_exists = "replace", index = False)
deliveries["test"].to_sql(name = "test_deliveries", con = engine, if_exists = "replace", index = False)

1693534

In [ ]:
players["ipl"].to_sql(name = "ipl_players", con = engine, if_exists = "replace", index = False)
players["odi"].to_sql(name = "odi_players", con = engine, if_exists = "replace", index = False)
players["t20"].to_sql(name = "t20_players", con = engine, if_exists = "replace", index = False)
players["test"].to_sql(name = "test_players", con = engine, if_exists = "replace", index = False)

19272